<section style="background-color: #c9cba3" >
  <h1 style="font-size: 50px; text-align: center; padding: 35px;">Want to Know about me!</h1>

  <div class="about">
  <p>
    I am Sanskar Parihar. I am persuing Computer Programmer in Georgian College.
    I learnt many languages which is used in development and creation of website
    and programs.I have created many websites and programs for my college projects. 
    I gave my best to gain as much knowledge as I can. I have good command on 
    database language such as SQL. I want to work for a good company so I can
    achieve something for the software industry and give my contribution in 
    development of world. 
  </p>
</div>

</section>


