<section style="background-color: #c9cba3" >
    <div class="banner">
        
      <div>
        <h1 style="color: #291212; padding-top: 200px; padding-left:250px;">
        Sanskar Parihar
      </h1>  
      <p style="font-size:large; color: #291212; padding-left:250px;"> 
          Web Developer  
       </p> 
      </div>
      <img id="Image" src="images/image-2.png" class="image">
        
     </div>
                 
</section>

