<!DOCTYPE html>
<html style="background-color: rgb(245, 239, 239);">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: C;"></a>
        <div class="navbar-nav" id="navbar">
          <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/" style="color: #ffffff;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" style="color: #ffffff;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects" style="color: #ffffff;">Projects</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/contact" style="color: #ffffff;">Contact</a>
          </li>
          </ul>
        </div>
      </div>
    </nav>
    {{{body}}}
</body>
<footer style="color: #ffffff;">
    <div class="container">
      <h7 style="margin-top: 50px; padding: 100px 100px; font-size: 1.4em;">
        <a>Sanskar Parihar</a>
      </h7>
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled list-spaced">
          <li style="padding-left: 100px">
            Barrie, Ontario
            <br>
            Canada
          </li>
        </ul>
      </div>
    <div class="col-md-4">
        <ul>
          <li>
            <a class="link" href="Email: sanskar.07parihar@gmail.com"> sanskar.07parihar@gmail.com </a>
          </li>
          <li> 647-482-1863</li>
        </ul>
    </div>
    <div style="padding-left: 100px">
        <ul>
          <li>
            <a class="link" href="https://github.com/Sanskar07parihar" target="_blank"> GitHub </a>
          </li>
        </ul>
     </div>
    </div>
    
  </footer>
</html>