<body style="background-color: #c9cba3">
    <h1 style="text-align:center;">Projects</h1>
    <div class="container">
    <div class="row">
        <div class="project">
            <a href="https://github.com/Sanskar07parihar/Final-Assignment">
              <img id="img-1" src="images/image-3.png" class="prj">
            </a>
            <p style="font-size: 30px; color: rgb(97, 140, 219);">Project-1</p>
            <a href="https://github.com/Sanskar07parihar/InventoryManagement">
              <img id="img-2" src="images/image-4.png" class="prj">
            </a>
            <p style="font-size: 30px; color: rgb(97, 140, 219);" >Project-2</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="project">
            <a href="https://github.com/Sanskar07parihar/C-sharp-Assignment_2">
              <img id="img-3" src="images/image-5.png" class="prj">
            </a>
            <p style="font-size: 30px; color: rgb(97, 140, 219);">Project-3</p>
            <a href="https://github.com/Sanskar07parihar/Assignment1-GC200489011">
              <img id="img-4" src="images/image-6.png" class="prj">
            </a>
            <p style="font-size: 30px; color: rgb(97, 140, 219);">Project-4</p>  
        </div>
    </div>
  </div>  
</body>